/* 
    General Styles
*/


@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Cabin+Sketch&family=Montserrat&family=Petit+Formal+Script&family=Quattrocento+Sans&display=Indie+Flower&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.tituloNavBar {
    font-family: 'Petit Formal Script', cursive;
}

.textoLista, .cardTitle {
    font-family: 'Cabin Sketch', cursive;
    font-size: 18px;
    color: rgb(202, 107, 49)
}

.textHistoria{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    color: rgb(202, 107, 49)
}


.footerCSS {
//    position: fixed;
   position: sticky;
   left: 0;
   bottom: 0;
//    width: 100%;
   text-align: center;
   background-color: white;
   padding-bottom: none;
   margin-bottom: none;
   display: inline-block;
//    height: auto;
   z-index: 20;
   background-color: #e6bfc0;
}

.modalFooter, .modalHeader{
    position: sticky;
   left: 0;
   bottom: 0;
   text-align: center;
   padding-bottom: none;
   margin-bottom: none;
   display: inline-block;
   z-index: 20;
   background-color: #e6bfc0;
}




#cardImagen{
   width: 100%;
   height: 15vw;
   object-fit: cover;    //para hacer que las imagenes de los cards se vean del mismo tamano
}

.carousel-indicators{ 
    visibility: hidden; 
}

.contNavBar, navbar {
    background-color: #e6bfc0;
}

.buttonComprar {
    background: #dbc5b0;
}

.btn-primary {
    color: #c3777b;
}

.Container {
    background-color: #bb9d89;
}

.imgLista{
   width: 100%;
   height: auto;
}

@supports(object-fit: cover){
    .imgLista{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.contenedorImagen{
    width: 90px;
    height: 90px;
    overflow: hidden;
    background-color: #c3777b;
    border-radius: 100%;
}

// >>>>>>>> 1-- el codigo de abajo es para que las flechas de control lateral del caruserl esten al lado y no sobre la imagen

.carousel-control-prev, .carousel-control-next {
    position: inherit;
}

.carousel {
  margin: 1.5rem;
}
.carousel-inner {
  height: auto;
}

.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 1---

.badgeConteo{
    z-index: 20;
    
    position: absolute;

}

//>>>>>  MODAL RIGHT <<<<<

.modal {
    padding-top: 10px;
}

	.modal.right .modal-dialog {
		position: fixed;
        margin: auto;
        width: 400px;
		height: 95%;
		// -webkit-transform: translate3d(0%, 0, 0);
		//     -ms-transform: translate3d(0%, 0, 0);
		//      -o-transform: translate3d(0%, 0, 0);
		//         transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.right .modal-body {
		padding: 15px 15px 80px;
    }
    
    .modalCorto {
        position: fixed;
        margin: auto;
        width: 700px;
        height: 45%;
        right: 10px;
        border: none;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
    }
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: 10px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

//>>>>>  MODAL RIGHT <<<<<

//>>>> NUMERIC INPUT

.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

//>>>> NUMERIC INPUT

.removeIcon:hover {    //hover para la X de eliminar en MODAL de carrito
    color: #b0b5bb;
}

.imagen23:hover {
    transform: scale(1.1);
}
