/* 
    General Styles
*/

.footerCSS {
//    position: fixed;
   position: sticky;
   left: 0;
   bottom: 0;
//    width: 100%;
   text-align: center;
   background-color: white;
   padding-bottom: none;
   margin-bottom: none;
   display: inline-block;
   height: auto;
   z-index: 20;
}


.cardImagen{
   width: 100%;
   height: 15vw;
   object-fit: cover;    //para hacer que las imagenes de los cards se vean del mismo tamano
}

.carousel-indicators{ 
    visibility: hidden; 
}
